# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# PyInstaller
# The directory where PyInstaller stores its temporary files
# This directory is created by PyInstaller when you run it
# and is used to store intermediate files during the build process.
get_status.spec
build/

# Self-signed certificates
cert/

# from Visual Studio Code(Custom Adds)
tabdock.exe
Releases/
dist/tabdock_win_amd64.exe
log/

database/shift.db
database/subscription.db
database/acc.db
database/schedule.db

json/schedule.json
json/ip_scores.json
json/working_schedule_user.json
json/first_access_ips.json
json/user/

home/wallpapers/
home/assets/calendar/
home/assets/acc_icon/
home/assets/payment/Apple_Pay_Mark_RGB_041619.svg
home/assets/payment/google-pay-mark_800.svg
home/assets/payment/pp_h_rgb.png
home/assets/payment/credit-card.png
home/assets/payment/paypay_3_rgb.png
home/assets/payment/logo_amazonpay-primary-fullcolor-negative.png
home/assets/payment/Black-XL.png

update_flag.txt
